@use '../../Sass/abstracts' as *;

.tag{
  @include flex-row;
  @include center-children;
  border-radius: $radius-25;
// text-align: center;
  min-width: 115px;
  height: 15px;
  background-color: $primary-color;
  color: $white-color;
  font-size: $fs-14;
  font-weight: $bold-title;
  padding: 7px $padding-15;

}