@use 'root'; 

@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin flex-row{
  display: flex;
}

@mixin flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
@mixin list-horizontal{
  @include flex-row;
  list-style-type: none;
  padding: root.$padding-15;

}

//media-query
@mixin display-desktop{
  max-width: root.$media-desktop;
  margin: root.$margin-auto
  
}

//positions
@mixin center-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin bottom-left{
  position: absolute;
  bottom: 0;
  left: 0;
  // transform: translate(-50%, -50%);
}

@mixin cover-img{
  object-fit: cover ;
}

