$font-stack: 'Montserrat', sans-serif;
//colors
$primary-color: #FF6060;
$white-color: #FFFFFF;
$black-color: #000000;
$bg-color: #F6F6F6;

//font size
$x-sm-font-size: 12px;
$fs-14: 14px;
$sm-font-size: 18px;
$md-font-size: 24px;
$l-font-size: 36px;
$xl-font-size: 48px;
$error-status-desktop: 288px;
$error-status-mobile: 96px;


//font weight
$bold-title: 700;
$md-text: 500;
$light-text: 300;

//breakpoints
$media-desktop: 1240px;
$media-mobile : 375px;

//gap
$gap-50: 50px;
$gap-27: 27px;
$gap-38: 38px;
$gap-30: 30px;
$gap-19: 19px;

//padding
$padding-15: 15px;
$padding-20: 20px;
$padding-30: 30px;
$padding-35: 35px;
$padding-50: 50px;
$padding-100: 100px;


//margin 
$margin-auto: auto;

//radius
$radius-10: 10px;
$radius-25: 25px;
$radius-50: 50%;

//width
$card-desktop: 340px;
$width-card-mobile: 335px;
$height-card-mobile: 255px;


