@use '../../Sass/abstracts' as *;

.location-content{
  @include flex-column;
  @include center-children;
  width: 100%;
  
  h1, h2, h3{
    margin: 0;
  }
  
  h1,h3{
    color: $primary-color;
  }
  h2,h3{
    font-size: $sm-font-size;
    font-weight: $md-text;
  }
  h1{
    font-size: $l-font-size;
    font-weight: $md-text;
  }

  .location-body{
    @include flex-column;
    width: 100%;
    padding: $padding-30 0;
    row-gap: $padding-20;

    .location-header{
      @include flex-row;
      gap: 14px;

      .location-info{
      @include flex-column;
      width: 100%;
      row-gap: 25px;

        .tags-list{
          @include flex-row;
          column-gap: $gap-19;

          @media screen and (max-width:$media-mobile){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 25px;
          }
        }
  
      } 
      .host-and-rating{
        @include flex-column;
        width: 100%;
        align-items: end;
        justify-content: space-between;

        @media screen and (max-width:$media-mobile){
          display: flex;
          flex-direction: row-reverse;
        }
        
       .host-info{
          @include flex-row;
          height: 100%;
          align-items: start;
          column-gap: $gap-19;
          
          .host-name-container{
            text-align: right;
            max-width: 80px;
    
           .host-name{
              word-spacing: 30px;
              line-height: 30px;
            }
          }
          .host-profile{
            border-radius: $radius-50;
            width: 64px;
            height: 64px;
    
            img{
              @include cover-img;
              border-radius: $radius-50;
              height: 64px;
            }
          }
        }
        .rating{
          @include flex-row;
        }
      }
      @media screen and (max-width:$media-mobile){
        @include flex-column;
      }
    }
  
    .location-details{
      @include flex-row;
      justify-content: space-between;
      column-gap: $gap-19;

      @media screen and (max-width:$media-mobile){
        @include flex-column;
        gap: 25px;
      }
    }
 }

 
}