@use '../../Sass/abstracts' as *;
// @use '../../Sass/abstracts/mixins';

.error-content{
  @include flex-column;
  
  .error-status{
    font-size: $error-status-desktop;
    font-weight: $bold-title;
    color: $primary-color;
  }

  p{
    font-size: $l-font-size;
    color: $primary-color;
    
  }
};


