@keyframes rotate-vector-down{
  from{
    transform: rotate(0);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes rotate-vector-up{
  from{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes display-gallery {
  from{
    opacity: 0;
  }
  25%{
    opacity: 15%;
  }
  50%{
    opacity: 30%;
  }
  75%{
    opacity: 70%;
  }
  100%{
    opacity: 100%
  }
}

