@keyframes rotate-vector-down{
  from{
    transform: rotate(0);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes rotate-vector-up{
  from{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0);
  }
}

