@use 'root'; 

@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin flex-row{
  display: flex;
}
@mixin list-horizontal{
  @include flex-row;
  list-style-type: none;
  padding: root.$padding-15;

}

//media-query
@mixin display-desktop{
  @include flex-row();
  // justify-content: center;
  // align-items: center;
  max-width: root.$media-desktop;
  margin: root.$margin-auto
  
}

//positions
@mixin center-item{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}