@use '../../Sass/abstracts' as *;



.cards-content{
  @include flex-wrap;
  background-color: $bg-color;
  align-items: center;
  padding: $padding-100 0;
  gap: $padding-35;
  justify-content: center;

}