@use '../../Sass/abstracts' as *;



.cards-content{
  @include flex-wrap;
  align-items: center;
  justify-content: center;
  
  background-color: $bg-color;
  
  margin-top: $padding-50;
  padding: $padding-50 0;
  gap: $padding-35;
  
  border-radius: $radius-25;

}