@use '../../Sass/abstracts' as *;



.cards-content{
  @include flex-wrap;
  @include center-children;
  
  background-color: $bg-color;
  
  margin-top: $margin-50;
  padding: $padding-50 0;
  gap: $gap-35;
  
  border-radius: $radius-25;

}