@use '../Sass/abstracts' as *;

body {
  @include flex-column;
  font-family: $font-stack;
} 
.container{
  @include flex-column;
  @media screen and (max-width: $media-desktop) {
     @include display-desktop;
  }

  @media screen and (max-width: $media-mobile) {
    @include display-mobile;
 }
 
  justify-content: center;
  align-items: center;
  margin-top: $padding-30;
  margin-bottom: $padding-30;

}