@use '../Sass/abstracts' as *;

body {
  @include flex-column;
  font-family: $font-stack;
} 
.container{
  @include flex-column;
  @include display-desktop;
  justify-content: center;
  align-items: center;
  margin-top: $padding-30;
  margin-bottom: $padding-30;

}