@use '../../Sass/abstracts' as *;
.gallery{
  width: $width-picture-desktop;
  height: $height-picture-desktop;

  @include flex-row;
  text-align: center;

  .picture-location{
    img{
      height: $height-picture-desktop;
      width: $width-picture-desktop;
      object-fit: cover;
  
    }
  }

}