@use '../../Sass/abstracts' as *;

.dropdown {
  &-location{
    width: 582px;
  }

  @media screen and (max-width: $media-mobile) {
    width: 100%;
  }

  &-title{
    @include flex-row;
    justify-content: space-between;
    background-color: $primary-color;
    color: $white-color;
    font-weight: $bold-title;
    padding: $padding-15 $padding-10;
    border-radius: $radius-5;

    &-location{
      font-size: $sm-font-size;
    };

    &-presentation{
      font-size: $md-font-size;
    }
  }

  &-content{
    overflow: hidden;
    height: auto;
    max-height: 500px; 
    box-sizing: border-box;
    
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    
    &-location{
      background-color: $bg-color;

      ul {
        padding-left: $padding-20;
        
        li{
         list-style-type: none;
         line-height: 24px;
       }
      };

      p {
        padding-left: $padding-20;
        line-height: 24px;
      }
    }

    &-presentation{
      background-color: transparent;
      padding-left: $padding-20;
    }


    // hide content
    &.hidden{
      max-height: 0;
    }
  }

  
}