@use '../../Sass/abstracts' as *;

nav{
  @include flex-row;
  @include display-desktop;
  justify-content: space-between;
  align-items: center;
 
 .nav-link {
    @include list-horizontal;
    column-gap: $gap-19;
    font-size: $md-font-size;

    a{
      &:link{
        text-decoration: none;
        color: $black-color;
      }

      &:hover{
        text-decoration: underline;
      }
      
      &:visited{
        color: $black-color;
      }
    }
} 
  @media screen and (max-width: $media-mobile) {
    @include display-mobile;
    img {
      width: 145px;
      height: 46px;
    }
    .nav-link {
      font-size: $x-sm-font-size;
      text-transform: uppercase;
    }
  }
}
 

