@use '../../Sass/abstracts' as *;

nav{
@include flex-row;
@include display-desktop;
  padding: $padding-30;
 justify-content: space-between;
 align-items: center;
 width: 100%;

 img {
  height: 68px
 }
 .nav-link {
  @include list-horizontal;
  column-gap: $gap-19;
  font-size: $md-font-size;
  

  a{
    &:link{
      text-decoration: none;
      color: $black-color;
    }

    &:hover{
      text-decoration: underline;
    }
    
    &:visited{
      color: $black-color;
    }

    }
  }  
 
}

