@use '../../Sass/abstracts' as *;

.gallery{
  @include flex-row;
  @include center-children;
  position: relative;
  width: 100%;
  height: $height-picture-desktop;

  .picture-location{
    width: 100%;
    border-radius: $radius-25;

    img{
      @include cover-img;
      height: $height-picture-desktop;
      width: 100%;
      border-radius: $radius-25;
      animation: display-gallery .5s forwards;
    }
  }

  .counter{
    position: absolute;
    font-size: $md-font-size;
    bottom: 0px;
    color:$white-color;
  }
}