@use '../abstracts/root';
@use '../abstracts/mixins';


.card-location{
  position: relative;
  border-radius: root.$radius-10;
  width: root.$card-desktop;
  height: root.$card-desktop;
  cursor: pointer;
 

  img{
    @include mixins.cover-img;
    width: 100%;
    height: root.$card-desktop;
    border-radius: root.$radius-10;



  }
  
  p{
    @include mixins.bottom-left;
    font-size: root.$sm-font-size;
    color: root.$white-color;
    font-weight: root.$bold-title;
    background-color: root.$primary-color;
    padding: root.$padding-15;

  }


}