@use '../abstracts/root';
@use '../abstracts/mixins';

.content{
   @include mixins.display-desktop;
   height: 100vh;
}

.banner{
  @include mixins.flex-column;
  width: 100%;
  height: 230px;
  position: relative;
  text-align: center;
  background-color: black;
  border-radius: root.$radius-25;

  
  .img-banner{
    height: 230px;
    width: 100%;
    object-fit: cover;
    opacity: 35%;
    
  }

  h1{
    @include mixins.center-item;
    font-weight: root.$bold-title;
    color: root.$white-color;
 

  }
}