@use '../../Sass/abstracts' as *;

footer{
  background-color: $black-color;
  color: $white-color;
  @include flex-column;
  justify-content: center;
  align-items: center;
  padding-top: $padding-30;
  
  img{
    filter: brightness(10) saturate(0%);
    width: 124px;
  }
} 