@use '../../Sass/abstracts' as *;

footer{
   @include flex-column;
   @media screen and (max-width: $media-desktop) {
    padding-top: $padding-30;
   }
   @media screen and (max-width: $media-mobile) {
    padding: $padding-50;
   }

   background-color: $black-color;
  color: $white-color;
 
  justify-content: center;
  align-items: center;
  
  
  img{
    filter: brightness(10) saturate(0%);
    width: 124px;
  }
} 