@use '../../Sass/abstracts/root';
@use '../../Sass/abstracts/mixins';

footer{
  background-color: root.$black-color;
  color: root.$white-color;
  @include mixins.flex-column;
  justify-content: center;
  align-items: center;
  padding-top: root.$padding-30;
  
  img{
    filter: brightness(10) saturate(0%);
    width: 124px;
  }
} 