@use '../../Sass/abstracts' as *;

.card-location{
  position: relative;
  border-radius: $radius-10;
  width: $card-desktop;
  height: $card-desktop;
  cursor: pointer;

  img{
    @include cover-img;
    width: 100%;
    height: $card-desktop;
    border-radius: $radius-10;
  }
  
  p{
    @include bottom-left;
    font-size: $sm-font-size;
    color: $white-color;
    font-weight: $bold-title;
    background-color: $primary-color;
    padding: $padding-15;
  }


}