@use '../../Sass/abstracts/root';
@use '../../Sass/abstracts/mixins';

.banner{
  @include mixins.flex-column;
  width: 100%;
  height: 230px;
  position: relative;
  text-align: center;
  background-color: black;
  border-radius: root.$radius-25;
  
  .img-banner{
    height: 230px;
    width: 100%;
    object-fit: cover;
    opacity: 35%;
    
  }

  h1{
    @include mixins.center-item;
    font-weight: root.$bold-title;
    color: root.$white-color;
   }
}

.cards-content{
  @include mixins.flex-wrap;
  background-color: root.$bg-color;
  align-items: center;
  padding: root.$padding-100 0;
  gap: root.$padding-35;
  justify-content: center;

}