@use '../../Sass/abstracts' as *;

.banner{
  @include flex-column;
  width: 100%;
  height: 230px;
  text-align: center;
  background-color: black;
  border-radius: $radius-25;

  // img banner
  & img{
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: $radius-25;

  }

  // home page's banner
  &.banner-home{
    position: relative;
    img{
      opacity: 35%;
    }

    h1{
      @include center-item;
      font-weight: $bold-title;
      color: $white-color;
    }
  }
}
