@use '../../Sass/abstracts' as *;
// @use '../../Sass/abstracts/mixins';

.error-content{
  @include flex-column;
  @include center-children;
 

  span.error-status{
    font-size: $error-status-desktop;
    font-weight: $bold-title;
    color: $primary-color;
    padding-bottom: 50px;
  }

  span.error-message{
    font-size: $l-font-size;
    color: $primary-color;
    padding-bottom: 100px;
  }

  a{
    font-size: $sm-font-size;
    color: $black-color;
    padding-bottom: 100px;

    
  }
};


